/* h1 {
    text-align: center;
} */

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";
.jumbotron img {
    width: 200px;
    border: 5px solid rgb(255, 255, 255);
}

body {
    margin-top: 30px;
}

hr {
    width: 250px;
    border-top: 3px solid #999;
}

section {
    min-height: 600px;
}

.about section {
    min-height: 300px;
}

.pKiri,
.pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio {
    background-color: #eee;
    min-height: 800px;
}

.portfolio .img-thumbnail {
    opacity: 0;
    transition: .5s;
    transform: translate(0, -400px);
}

.portfolio .img-thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: #333;
    padding-top: 30px;
}

footer p {
    color: #aaa;
    font-size: 1em;
}

footer p i {
    color: sandybrown;
}

nav ul {
    margin-right: 0;
    margin-left: auto;
}

.jumbotron {
    height: 360px;
    background-image: url('../img/header.jpg');
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    background-size: cover;
    /* background-position: 200 0; */
    overflow: hidden;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
}